*{
    box-sizing: border-box;
}

body,html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #3e3e3f;
    scroll-behavior: smooth;
}

button{
    all: unset;
    /* display: block; */
}

.toast {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 9999;
    opacity: 0;
    animation: fadein 0.3s ease forwards;

}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}


#info_customer:hover,
#order_customer:hover{
    color: rgb(255, 165, 0);
}